@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using PRN221_Project_ShopOnline.Models

@{
    List<Category> categories = (List<Category>) ViewBag.Categories;
    List<Product> products = (List<Product>)ViewBag.Products;
}

<!DOCTYPE html>
<html>
<head>
    <title>Computer ERA</title>
    <!--Favicon-->
    <link rel="icon" type="image/png" href="/image/faviconLogo.png" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--Font awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <!--Menu-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <!--Logo-->
                <a class="navbar-brand" href="#">
                    <img src="/image/Other/Logo.jpg" width="200px">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <!--Cart-->
                            <a class="btn btn-info" href="show">
                                <i class="fa fa-shopping-cart"></i> Cart
                                <span class="badge bg-secondary" id="CartNum">5</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <!--Login-->
                            <a class="nav-link" href="#">Login</a>
                        </li>
                    </ul>
                    <!--Search-->
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>

        <!--Category-->
        <div class="col-3">
            <div class="card bg-light mb-3">
                <div class="card-header bg-info text-white text-uppercase"><i class="fa fa-list"></i> Categories</div>
                <ul class="list-group category_block">
                    @foreach (Category category in categories)
                    {
                        <li class="list-group-item text-white">
                            <a href="home?CategoryID=@category.CategoryId">@category.Icon @category.CategoryName</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
