@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@* for Session *@
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor

@{
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <!--Logo-->
        <a class="navbar-brand" href="/">
            <img src="/image/Other/Logo.jpg" id="logo" style="width: 200px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!--Login: only show if user is not login -> check Session-->
                @if (httpContextAccessor.HttpContext.Session.GetString("userId") == null)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/Login">Login</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <!--Cart-->
                        <a class="btn btn-info" href="/Cart/Index">
                            <i class="fa fa-shopping-cart"></i> Cart
                            @*<span class="badge bg-secondary" id="CartNum">5</span>*@
                        </a>
                    </li>

                    //if user is login
                    //show Message
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Hello @httpContextAccessor.HttpContext.Session.GetString("username")
                        </a>
                    </li>

                    //if user is Seller
                    @if (httpContextAccessor.HttpContext.Session.GetInt32("isSeller") == 1)
                    {
                        //Manage Product link
                        <li class="nav-item">
                            <a class="nav-link" href="/ProductManager/Index">
                                Manage Product
                            </a>
                        </li>
                    }

                    //if user is Admin
                    @if (httpContextAccessor.HttpContext.Session.GetInt32("isAdmin") == 1)
                    {
                        //Manage Account link
                        <li class="nav-item">
                            <a class="nav-link" href="/AccountManager/Index">
                                Manage Account
                            </a>
                        </li>

                        //Dashboard link (unsupported)
                        <li class="nav-item">
                            <a class="nav-link" href="/Dashboard/Index">
                                Dashboard
                            </a>
                        </li>
                    }

                    //logout link
                    <li class="nav-item">
                        <a class="nav-link" href="/Login/Logout">
                            Log out
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>